nav {
    ul{
        li {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content:flex-start;
            gap: 10px;
            margin-bottom: 30px;
            padding: 10px;
            border-radius: 7px;
            .icon{
                width: 35px;   
                color: black    
            }
            &:hover {
                background-color: #4F7FE1;
                a {
                  color: white; 
                }
        
                .icon {
                  color: white; 
                }
              } 
        }
    }
}
