.ql-snow .ql-editor pre.ql-syntax {
    background-color: #ffffff !important;
    color: black !important;
    border: 1px solid lightgray !important;
}

.ql-container {
    font-size: 1rem !important;
}